.navbar-default
{
	background-color: #63c766;
	border: none !important;
}
.navbar .container
{
	margin-top: 20px; margin-bottom: 20px;
}
.navbar-brand
{
	padding: 10px 10px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white !important;
}
